.foot{
    height: auto;
    display: block;
    padding: 20px 0;

    background-color: #333333;
}

.foot p{
    color: white;
    border-bottom: 1px solid white;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 36px;

}

.foot a{
    color: white;
    font-size: 14px;
    line-height: 30px;
}

.foot_2_content img{
    width: 100px;
    height: auto;
}

.mt-0 {
    margin: 0 !important;
}

.foot_all{
    height: 269px;

}

.foot span{
    color: white;
}

.foot a:hover{
    color: #c90202;
    font-weight: bolder;
    text-decoration: none;
}