*{margin:0; padding:0  }


.name{
    width: auto;
    height: 169px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #980001;
}

.name_insert{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 75px;
    width: auto;
    background-color: #980001;
}

.logo_box{
    height: 68px;
    display: inline-block;
    float: left;
}

.logo{
    height: 68px;
}

.href{
    display: inline-block;
    float: right;
    height: 35px;
    padding: 20px;
}
.btn{
    width: 100%;
}

.dropdown-menu{
    width: 320px;
}


.logo_box{
    display:flex;
    align-items:center;
    justify-content:center;
}

.logo_box img{
    width: 100%;
    height:100%;
}

.navigation{
    width: auto;
    height: 50px;
    margin-top: 17px;

}

.navbar-nav ul{
    width:100%;
}

.navbar-nav li{
    width:20%;
    height: 50px;
}















.navigation_list a{
    color: white;
}

.name li:hover{
    background-color: #970002;
}

.name a:hover{
    text-decoration: none;
    color: white;
    font-weight: normal;
}













