*{margin:0; padding:0  }


.name{
    width: auto;
    height: 169px;
    padding-top: 17px;
    padding-bottom: 17px;
    background-color: #980001;
}

.name_insert{
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    height: 75px;
    width: auto;
    background-color: #980001;
}

.logo_box{
    height: 68px;
    display: inline-block;
    float: left;
}

.logo{
    height: 68px;
}

.href{
    display: inline-block;
    float: right;
    height: 35px;
    padding: 20px;
}
.btn{
    width: 100%;
}

.dropdown-menu{
    width: 320px;
}


.logo_box{
    display:flex;
    align-items:center;
    justify-content:center;
}

.logo_box img{
    width: 100%;
    height:100%;
}

.navigation{
    width:auto;
    height: 60px;
    margin-top: 17px;
    background-color: #333333;
}

.navigation_folling{
    width:60%;
    margin: 0 auto;

}

.navigation_folling li{
    text-align: center;
    width:20%;
    height: 60px;
    float: left;
    background-color: #333333;
    border-right: 1px solid;
    border-right: 1px solid #3f3f3f;
}

.navigation_folling a{
    color: white;
    line-height: 60px;

}
.navigation_folling{
    height: 60px;
    background-color: #3f3f3f;
}


.navigation_list a{
    color: white;
}

.name li:hover{
    background-color: #79120a;
}

.name a:hover{
    text-decoration: none;
    color: white;
    font-weight: normal;
}













