/* ui-banner */
.ui-banner{display:block;position:relative;}
.ui-banner.ui-banner-invalid{display:none;}
.ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{height:400px;}
.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{position:absolute;top:0;}
.ui-banner ul{list-style-type:none;margin:0;padding:0;overflow:hidden;}
.ui-banner .ui-banner-slides{height:400px;left:20px;text-align: center;max-width: 750px;}
.ui-banner .ui-banner-slides li{display:none;position:absolute;top: 5px;top:10px;width: 100%;}
.ui-banner .ui-banner-slides li.ui-banner-slides-current,.ui-banner .ui-banner-slides li.ui-banner-slides-prev,.ui-banner .ui-banner-slides li.ui-banner-slides-next{display:block;}
.ui-banner .ui-banner-slides li.ui-banner-slides-current{left:0;}
.ui-banner .ui-banner-slides li.ui-banner-slides-prev{left:-800px;}
.ui-banner .ui-banner-slides li.ui-banner-slides-next{left:800px;}
.ui-banner .ui-banner-slogans{height:400px;overflow:hidden;right:20px;background: #F2F2F2;padding: 0 15px;}

.ui-line{
	zoom: 1;
	overflow: hidden;
	position: relative;
	min-height: 90px;
	cursor: pointer;
	padding: 5px 0;
	margin: 8px 0;
}
.ui-line:hover{
	background: #e7e7e7;
}

.ui-line .con{
	padding-left: 115px;
	overflow: hidden;
}
.ui-line .con span{
	text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-height: 120%;
    -webkit-box-orient: vertical;
    height: 32px;
}

.ui-line .thumb{
	position: absolute;
	left: 15px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	
}
.ui-line .thumb img{
	width: 100%;
}

@media (max-width: 991px) {
	.ui-banner .ui-banner-slides {
	    height: 400px;
	    left: 0px;
	    text-align: center;
	}
}
@media (min-width: 991px) and (max-width: 1200px){
	.ui-banner .ui-banner-slides{
		max-width: 520px;
	}
	.ui-banner .ui-banner-arrow.ui-banner-arrow-next,
	.ui-banner .ui-banner-arrow.ui-banner-arrow-prev{
		right: 40%;
	}
}

.index-alumni .alumni-box .ui-banner-slides img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
}


.index-alumni .alumni-box .ui-banner-slogans img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}


.index-alumni .alumni-box .ui-banner-slides  span {
    display: inline-block;
    border-bottom: 1px solid #666;
    margin-bottom: 30px;
    padding: 0 10px 5px 10px;
}
.index-alumni .alumni-box .ui-banner-slides p{
	max-width: 580px;
	margin: 0 auto;
	overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    line-height: 150%;
}
@media (max-width: 991px) {
	.ui-banner,.ui-banner .ui-banner-slides,.ui-banner .ui-banner-slogans,.ui-banner .ui-banner-arrow{height:500px;}
	.index-alumni .alumni-box .ui-banner-slides p{
		-webkit-line-clamp: 10;
	}
}

.ui-banner .ui-banner-arrow{display:block;width:23px;outline:none;}
.ui-banner .ui-banner-arrow.ui-banner-arrow-prev{
	height: 32px;
	width: 40px;
	right: 35%;
	margin-right: 50px;
	top: 100%;
	margin-top: -32px;
	background: #000 url(../images/icon-jtl.png) center center no-repeat;
	opacity: 0.8;
	-webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}
.ui-banner .ui-banner-arrow.ui-banner-arrow-next{
	height: 32px;
	width: 40px;
	right: 35%;
	top: 100%;
	margin-top: -32px;
	background: #000 url(../images/icon-jtr.png) center center no-repeat;
	opacity: 0.8;
	-webkit-transition: all .4s ease-in-out 0s;
    -o-transition: all .4s ease-in-out 0s;
    transition: all .4s ease-in-out 0s;
}
.ui-banner .ui-banner-arrow.ui-banner-arrow-next:hover{
	opacity: 1;
}
.ui-banner .ui-banner-arrow.ui-banner-arrow-prev:hover{
	opacity: 1;
}
@media (max-width: 991px) {
	.ui-banner .ui-banner-arrow.ui-banner-arrow-next,
	.ui-banner .ui-banner-arrow.ui-banner-arrow-prev{
		right: 5px;
	}
}